<div class="question_box">
  <div class="question_box_header">
    <h1>{{question.question_headline}}</h1>
  </div>

  <div class="question_box_msg">
    <h2>{{question.question_msg}}</h2>
    <h4>{{question.author_user}}</h4>
  <a class="answer_button_del" ng-click="delete()">Ta bort fråga</a>
  </div>

  <div class="bottom_question_tags">
    <div class="question_box_footer">
      Tags <i class="fa fa-tags space_icon" aria-hidden="true"></i> <span class="question_box_footer_tags">{{question.tags}}</span>
    </div>
  </div>
</div>

<div class="question_box">
  <div class="question_box_header">
  <h2>Svara på frågan</h2>
</div>
  <div class="question_box_msg">
    <form id="comment_form" ng-submit="addNewComment()">
      <input type="text" ng-model="comment_name" placeholder="Ditt namn" class="comment_name"/><br />
      <textarea ng-model="comment_msg" placeholder="Ditt svar" cols="40" rows="10" class="comment_msg"></textarea><br />
      <input type="submit" value="Svara" class="answer_button"/>
    </form><br />
  </div>
</div>






<div class="question_box">
    <div class="question_box_header">
      <h1>Rätt(a) svar</h1>
    </div>
    <div class="question_box_msg">
        <div ng-repeat="comment in question.comments | filter:{correct_answer:true}" class="corrent_answers_top">
          <div class="question_box_header">
            <h4>{{comment.msg}}</h4>
          </div>
          <hr />
          <h4>{{comment.name}}</h4>
          <br />
          <br />
          <h3 ng-click="upVoteComment($index)">{{comment.vote}} <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></h3>
        </div>
      </div>
    <br />
  </div>



  <div ng-repeat="comment in question.comments track by $index " ng-class="comment.correct_answer ? 'corrent_answers_top' : 'default_answers_top'">

    <div class="question_box_header">
      <h4>{{comment.msg}}</h4>
    </div>
    <hr />
    <h4>{{comment.name}}</h4>

    <h3 ng-click="upVoteComment($index)">{{comment.vote}} <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></h3>

    <span  ng-click="correct($index)" ng-class="comment.correct_answer ? 'answer_button_hide' : 'answer_button'">Rätt svar ?</span>
    <br />
    <br />

  </div>
